{% extends "LyncUp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="col-md-10">
        <div class="content-section">
            <h2>My Events:</h2>
            {% for event in events %}
                {% if event.owner.group == object %}
                    <div class="card">
                    <div class="card-body">
                    <h1> <img class="rounded-circle" style="height: 50px; width: 50px; margin-right: 5px" src="{{ event.owner.profile.image.url }}">
                        <a href={% url 'event-detail' event.id %}>{{ event.event_name }}</a>
                    </h1>
                    <h5>Date: {{ event.date }}</h5>
                        <h5>Start Time: {{ event.start_time }}      End Time: {{ event.end_time }}</h5>
                    </div>
                </div>
                <br>
                {% endif %}
            {% endfor %}
             <a class="btn btn-primary" href={% url 'event-create' %}>Create Event</a>
            <a class="btn btn-light" onclick="history.back()">Back</a>
        </div>

    </div>

{% endblock content %}