{% extends "LyncUp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

   <div class="content-section">
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">HOUR</th>
                    <th scope="col">Monday</th>
                    <th scope="col">Tuesday</th>
                    <th scope="col">Wednesday</th>
                    <th scope="col">Thursday</th>
                    <th scope="col">Friday</th>
                    <th scope="col">Saturday</th>
                    <th scope="col">Sunday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">8:00AM</th>
                    <td>
                        {% if events.0.8 is not 0 %}
                            {{ events.0.8.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.1.8 is not 0 %}
                            {{ events.1.8.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.2.8 is not 0 %}
                            {{ events.2.8.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.3.8 is not 0 %}
                            {{ events.3.8.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.4.8 is not 0 %}
                            {{ events.4.8.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.5.8 is not 0 %}
                            {{ events.5.8.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.6.8 is not 0 %}
                            {{ events.6.8.event_name }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">9:00AM</th>
                    <td>
                        {% if events.0.9 is not 0 %}
                            {{ events.0.9.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.1.9 is not 0 %}
                            {{ events.1.9.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.2.9 is not 0 %}
                            {{ events.2.9.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.3.9 is not 0 %}
                            {{ events.3.9.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.4.9 is not 0 %}
                            {{ events.4.9.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.5.9 is not 0 %}
                            {{ events.5.9.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.6.9 is not 0 %}
                            {{ events.6.9.event_name }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">10:00AM</th>
                                        <td>
                        {% if events.0.10 is not 0 %}
                            {{ events.0.10.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.1.10 is not 0 %}
                            {{ events.1.10.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.2.10 is not 0 %}
                            {{ events.2.10.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.3.10 is not 0 %}
                            {{ events.3.10.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.4.10 is not 0 %}
                            {{ events.4.10.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.5.10 is not 0 %}
                            {{ events.5.10.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.6.10 is not 0 %}
                            {{ events.6.10.event_name }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">11:00AM</th>
                                        <td>
                        {% if events.0.11 is not 0 %}
                            {{ events.0.11.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.1.11 is not 0 %}
                            {{ events.1.11.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.2.11 is not 0 %}
                            {{ events.2.11.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.3.11 is not 0 %}
                            {{ events.3.11.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.4.11 is not 0 %}
                            {{ events.4.11.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.5.11 is not 0 %}
                            {{ events.5.11.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.6.11 is not 0 %}
                            {{ events.6.11.event_name }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">12:00PM</th>
                    <td>
                        {% if events.0.12 is not 0 %}
                            {{ events.0.12.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.1.12 is not 0 %}
                            {{ events.1.12.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.2.12 is not 0 %}
                            {{ events.2.12.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.3.12 is not 0 %}
                            {{ events.3.12.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.4.12 is not 0 %}
                            {{ events.4.12.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.5.12 is not 0 %}
                            {{ events.5.12.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.6.12 is not 0 %}
                            {{ events.6.12.event_name }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">1:00PM</th>
                                        <td>
                        {% if events.0.13 is not 0 %}
                            {{ events.0.13.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.1.13 is not 0 %}
                            {{ events.1.13.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.2.13 is not 0 %}
                            {{ events.2.13.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.3.13 is not 0 %}
                            {{ events.3.13.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.4.13 is not 0 %}
                            {{ events.4.13.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.5.13 is not 0 %}
                            {{ events.5.13.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.6.13 is not 0 %}
                            {{ events.6.13.event_name }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">2:00PM</th>
                    <td>
                        {% if events.0.14 is not 0 %}
                            {{ events.0.14.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.1.14 is not 0 %}
                            {{ events.1.14.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.2.14 is not 0 %}
                            {{ events.2.14.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.3.14 is not 0 %}
                            {{ events.3.14.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.4.14 is not 0 %}
                            {{ events.4.14.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.5.14 is not 0 %}
                            {{ events.5.14.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.6.14 is not 0 %}
                            {{ events.6.14.event_name }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">3:00PM</th>
                    <td>
                        {% if events.0.15 is not 0 %}
                            {{ events.0.15.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.1.15 is not 0 %}
                            {{ events.1.15.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.2.15 is not 0 %}
                            {{ events.2.15.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.3.15 is not 0 %}
                            {{ events.3.15.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.4.15 is not 0 %}
                            {{ events.4.15.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.5.15 is not 0 %}
                            {{ events.5.15.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.6.15 is not 0 %}
                            {{ events.6.15.event_name }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">4:00PM</th>
                                        <td>
                        {% if events.0.16 is not 0 %}
                            {{ events.0.16.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.1.16 is not 0 %}
                            {{ events.1.16.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.2.16 is not 0 %}
                            {{ events.2.16.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.3.16 is not 0 %}
                            {{ events.3.16.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.4.16 is not 0 %}
                            {{ events.4.16.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.5.16 is not 0 %}
                            {{ events.5.16.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.6.16 is not 0 %}
                            {{ events.6.16.event_name }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">5:00PM</th>
                    <td>
                        {% if events.0.17 is not 0 %}
                            {{ events.0.17.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.1.17 is not 0 %}
                            {{ events.1.17.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.2.17 is not 0 %}
                            {{ events.2.17.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.3.17 is not 0 %}
                            {{ events.3.17.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.4.17 is not 0 %}
                            {{ events.4.17.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.5.17 is not 0 %}
                            {{ events.5.17.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.6.17 is not 0 %}
                            {{ events.6.17.event_name }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">6:00PM</th>
                                        <td>
                        {% if events.0.18 is not 0 %}
                            {{ events.0.18.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.1.18 is not 0 %}
                            {{ events.1.18.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.2.18 is not 0 %}
                            {{ events.2.18.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.3.18 is not 0 %}
                            {{ events.3.18.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.4.18 is not 0 %}
                            {{ events.4.18.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.5.18 is not 0 %}
                            {{ events.5.18.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.6.18 is not 0 %}
                            {{ events.6.18.event_name }}
                        {% endif %}
                    </td>
                </tr>
            <tr>
                    <th scope="row">7:00PM</th>
                                        <td>
                        {% if events.0.19 is not 0 %}
                            {{ events.0.19.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.1.19 is not 0 %}
                            {{ events.1.19.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.2.19 is not 0 %}
                            {{ events.2.19.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.3.19 is not 0 %}
                            {{ events.3.19.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.4.19 is not 0 %}
                            {{ events.4.19.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.5.19 is not 0 %}
                            {{ events.5.19.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.6.19 is not 0 %}
                            {{ events.6.19.event_name }}
                        {% endif %}
                </tr>
                <tr>
                    <th scope="row">8:00PM</th>
                                        <td>
                        {% if events.0.20 is not 0 %}
                            {{ events.0.20.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.1.20 is not 0 %}
                            {{ events.1.20.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.2.20 is not 0 %}
                            {{ events.2.20.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.3.20 is not 0 %}
                            {{ events.3.20.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.4.20 is not 0 %}
                            {{ events.4.20.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.5.20 is not 0 %}
                            {{ events.5.20.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.6.20 is not 0 %}
                            {{ events.6.20.event_name }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">9:00PM</th>
                    <td>
                        {% if events.0.21 is not 0 %}
                            {{ events.0.21.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.1.21 is not 0 %}
                            {{ events.1.21.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.2.21 is not 0 %}
                            {{ events.2.21.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.3.21 is not 0 %}
                            {{ events.3.21.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.4.21 is not 0 %}
                            {{ events.4.21.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.5.21 is not 0 %}
                            {{ events.5.21.event_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if events.6.21 is not 0 %}
                            {{ events.6.21.event_name }}
                        {% endif %}
                    </td>
                </tr>
        </tbody>
        </table>
   </div>
{% endblock content %}