{% extends "LyncUp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


    <form method="POST" enctype = "multipart/form-data">
            {% csrf_token %}

            <fieldset class = "form-group">
                <legend class "border-bottom mb-4"> Add Friends </legend>
                {{ f_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Add Friend</button>
            </div>
        </form>

    <button onclick="back()">Back to friend's list</button>

    <script>
    function back() {
        window.history.back();
    }
    </script>

{% endblock content %}