{% extends "LyncUp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Your Friends: </h1>
    <br>
    {% for friend in friends %}
        {% for user in friend.users.all %}
            <div class = "card" style="margin-bottom: 5px; padding: 0; display: flow">
                <div class="card-body" style="padding: 0; margin: 0">
                 <h3 style="margin: 0;">
                     <img class="rounded-circle" style="height: 75px; width: 75px; margin: 5px" src="{{ user.profile.image.url }}">
                    {{ user }}
                </h3>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
    <br>
    <br>
{#    <input type=button onclick="location.href='addfriend'" value = 'Add Friends'>#}
    <button class="btn btn-outline-info" onclick="location.href='addfriend'">Add Friends</button>
{#    <input type=button onclick="location.href='removefriend'" value = 'Remove Friends'>#}
    <button class="btn btn-danger" onclick="location.href='removefriend'">Remove Friends</button>


{% endblock content %}