{% extends "LyncUp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Your Friends:</h1>
    {% for Friend in object_list %}
        {% for user in Friend.users.all %}
            <div class = "card">
                <div class="card-body">
                <h3>
                    {{ user }}
                </h3>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
    <br>
    <h3> Remove Friends: </h3>
    <form method="POST" enctype = "multipart/form-data">
        {% csrf_token %}
        <fieldset class = "form-group">
            <legend class "border-bottom mb-4"> </legend>
            {{ r_form|crispy }}
        </fieldset>
        <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Remove Friend</button>
        </div>
    </form>


{% endblock content %}