{% extends "LyncUp/base.html" %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
    </head>
    <body>
        <h1>About LyncUp</h1>
        <hr>
        <p> In our crazy, modern world, day-to-day activities can cause us to lose focus on those around us.
        Whether it be friends, family, co-workers, or anyone in between, it is of utmost importance to keep tabs
        on those that we care about. The purpose of LyncUp! is to give its users the ability to do just this,
        in a stream-lined fashion. Users will first have the ability to input their daily schedule to reflect times
        that they are unavailable. They then have the ability to others as "friends," and from there create "groups."
        In each respective group, its members will be able to see times of the day (a week at a time) where other
        group members are busy. With this information, an increase in transparency amongst the group's availabilities
        is brought forth, and arrangements can be made that will be able to include everybody. Welcome to LyncUp!
        </p>
        <h2>FAQs</h2>
        <ul>
            <li>
                <div>
                    <p>Q: What is the goal of LyncUp!<br>
                        A: The creators of LyncUp! (Team 6) wanted to streamline
                    a way to know when certain people in our lives were busy with other obligations. This platform
                    allows the ability to do just that!</p>
                </div>
            </li>
             <li>
                <div>
                    <p>Q: Who made this website?<br>
                        A: Team 6 - Gabriel Barney, Matt Jaojoco, and Riley Mete</p>
                </div>
            </li>
            <li>
                <div>
                    <p>Q: How do I make an account?<br>
                    A: Click on "Register" at the top-right of this page. From there you will be prompted to add
                    your credentials. When your account is registered, you will be taken to the log-in page. Enter your
                        username and password, and you will have access!</p>
                </div>
            </li>
            <li>
                <div>
                    <p>Q: How do I add a friend?<br>
                    A: Click on "Add Friend" at the top of the page after logging in. From there you will see a search
                    bar for your friend's username to be inputted. If they are a registered LyncUp! user, then you will
                        be able to view them in your friend's list (also added as a button at the top of the page)!</p>
                </div>
            </li>
            <li>
                <div>
                    <p>Q: How do I create a group?<br>
                        A: Click on "Create Group" at the top of the page after logging in. From there you will be
                    prompted to name the group, set a group image, and add any of your friends (CTRL-Clicking). When </p>
                </div>
            </li>
    </body>
</html>
{% endblock content %}