{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#    <h1>LyncUp FAQ's!</h1>#}
{#</body>#}

{% extends "LyncUp/base.html" %}

{% block content %}
   <h1>LyncUp! FAQ's</h1>

<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
    </head>
    <body>
        <h1>Help</h1>
        <hr>
        <nav>
            <pre><a href="../../../users/templates/users/login.html">Home</a>  <a href="signup.html">Sign Up</a> </pre>
        </nav>
        <hr>
        <h2>FAQs</h2>
        <ul>
            <li>
                <div>
                    <p>Q: Is my data safe<br>
                        A: Hopefully </p>
                </div>
            </li>
             <li>
                <div>
                    <p>Q: Who made this website?<br>
                        A: Team 6</p>
                </div>
            </li>
    </body>
</html>
{% endblock content %}