{% extends "LyncUp/base.html" %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
    </head>
    <body>
        <h1>About LyncUp</h1>
        <hr>
        <p> In our crazy, modern world, day-to-day activities can cause us to lose focus on those around us.
        Whether it be friends, family, co-workers, or anyone in between, it is of utmost importance to keep tabs
        on those that we care about. The purpose of LyncUp! is to give its users the ability to do just this,
        in a stream-lined fashion. Users will first have the ability to input their daily schedule to reflect times
        that they are unavailable. They then have the ability to add others as "friends," and from there create "groups."
        In each respective group, its members will be able to see times of the day (a week at a time) where other
        group members are busy. With this information, an increase in transparency amongst the group's availabilities
        is brought forth, and arrangements can be made that will be able to include everybody. Welcome to LyncUp!
        </p>
        <h2>FAQs</h2>
        <ul>
            <li>
                <div>
                    <p>Q: What is the goal of LyncUp!<br>
                        A: The creators of LyncUp! (Team 6) wanted to streamline
                    a way to know when certain people in our lives were busy with other obligations. This platform
                    allows the ability to do just that!</p>
                </div>
            </li>
             <li>
                <div>
                    <p>Q: Who made this website?<br>
                        A: Team 6 - Gabriel Barney, Matt Jaojoco, and Riley Mete</p>
                </div>
            </li>
            <li>
                <div>
                    <p>Q: How do I make an account?<br>
                    A: Click on "Register" at the top-right of this page. From there you will be prompted to add
                    your credentials. When your account is registered, you will be taken to the log-in page. Enter your
                        username and password, and you will have access!</p>
                </div>
            </li>
            <li>
                <div>
                    <p>
                        Q: How do I add an event to my calendar interface?<br>
                        A: Click on "Events" at the top left of the page after logging in. From there, you will be given
                        the opportunity to store details about a certain event that you have going on. Enter the information
                        into the text boxes, then click "Create" at the bottom of the page. When you look at your calendar again,
                        The corresponding space will be filled with your event!
                    </p>
                </div>
            </li>

            <li>
                <div>
                    <p>Q: How do I add a friend?<br>
                    A: Click on "Friends" at the top left of the page after logging in. From there, you will see a
                    friend's list header with two buttons at the bottom. Click on "Add Friend." You will be taken to a page
                    that has a search bar. Enter the username of the person that you are trying to add and click submit.
                    If there is an account associated with that username in our system, a friend will be added!</p>
                </div>
            </li>
            <li>
                <div>
                    <p>Q: How do I create a group?<br>
                        A: Click on "Groups" at the top of the page after logging in. From there, you will see a group list
                    header with a button on the bottom that says "Create Group" - click the button. You will be taken to
                    a page that lets you set up a group. When you are content with your decisions, press submit, and
                    you will have created a group! You have the ability to edit the group later.</p>
                </div>
            </li>
    </body>
    <br>
    <br>
    <br>
</html>
{% endblock content %}