{% extends "LyncUp/base.html" %}
{% block content %}
    <h1> <img class="rounded-circle" style="height: 50px; width: 50px; margin-right: 5px" src="{{ object.image.url }}"> {{ object.name }}</h1>
        <br>
        <h2>This Week for {{ object.name }}</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">HOUR</th>
                    <th scope="col">Monday</th>
                    <th scope="col">Tuesday</th>
                    <th scope="col">Wednesday</th>
                    <th scope="col">Thursday</th>
                    <th scope="col">Friday</th>
                    <th scope="col">Saturday</th>
                    <th scope="col">Sunday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">8:00AM</th>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.0.8 is not 0 %}
                                <img class="rounded-circle" src="{{ events.0.8 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.1.8 is not 0 %}
                                <img class="rounded-circle" src="{{ events.1.8 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.2.8 is not 0 %}
                                <img class="rounded-circle" src="{{ events.2.8 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.3.8 is not 0 %}
                                <img class="rounded-circle" src="{{ events.3.8 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.4.8 is not 0 %}
                                <img class="rounded-circle" src="{{ events.4.8 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.5.8 is not 0 %}
                                <img class="rounded-circle" src="{{ events.5.8 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.6.8 is not 0 %}
                                <img class="rounded-circle" src="{{ events.6.8 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">9:00AM</th>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.0.9 is not 0 %}
                                <img class="rounded-circle" src="{{ events.0.9 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.1.9 is not 0 %}
                                <img class="rounded-circle" src="{{ events.1.9 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.2.9 is not 0 %}
                                <img class="rounded-circle" src="{{ events.2.9 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.3.9 is not 0 %}
                                <img class="rounded-circle" src="{{ events.3.9 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.4.9 is not 0 %}
                                <img class="rounded-circle" src="{{ events.4.9 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.5.9 is not 0 %}
                                <img class="rounded-circle" src="{{ events.5.9 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.6.9 is not 0 %}
                                <img class="rounded-circle" src="{{ events.6.9 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">10:00AM</th>
                                        <td>
                        {% for events in 3d_arr %}
                            {% if events.0.10 is not 0 %}
                                <img class="rounded-circle" src="{{ events.0.10 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.1.10 is not 0 %}
                                <img class="rounded-circle" src="{{ events.1.10 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.2.10 is not 0 %}
                                <img class="rounded-circle" src="{{ events.2.10 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.3.10 is not 0 %}
                                <img class="rounded-circle" src="{{ events.3.10 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.4.10 is not 0 %}
                                <img class="rounded-circle" src="{{ events.4.10 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.5.10 is not 0 %}
                                <img class="rounded-circle" src="{{ events.5.10 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.6.10 is not 0 %}
                                <img class="rounded-circle" src="{{ events.6.10 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">11:00AM</th>
                                        <td>
                        {% for events in 3d_arr %}
                            {% if events.0.11 is not 0 %}
                                <img class="rounded-circle" src="{{ events.0.11 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.1.11 is not 0 %}
                                <img class="rounded-circle" src="{{ events.1.11 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.2.11 is not 0 %}
                                <img class="rounded-circle" src="{{ events.2.11 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.3.11 is not 0 %}
                                <img class="rounded-circle" src="{{ events.3.11 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.4.11 is not 0 %}
                                <img class="rounded-circle" src="{{ events.4.11 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.5.11 is not 0 %}
                                <img class="rounded-circle" src="{{ events.5.11 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.6.11 is not 0 %}
                                <img class="rounded-circle" src="{{ events.6.11 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">12:00PM</th>
                                        <td>
                        {% for events in 3d_arr %}
                            {% if events.0.12 is not 0 %}
                                <img class="rounded-circle" src="{{ events.0.12 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.1.12 is not 0 %}
                                <img class="rounded-circle" src="{{ events.1.12 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.2.12 is not 0 %}
                                <img class="rounded-circle" src="{{ events.2.12 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.3.12 is not 0 %}
                                <img class="rounded-circle" src="{{ events.3.12 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.4.12 is not 0 %}
                                <img class="rounded-circle" src="{{ events.4.12 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.5.12 is not 0 %}
                                <img class="rounded-circle" src="{{ events.5.12 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.6.12 is not 0 %}
                                <img class="rounded-circle" src="{{ events.6.12 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">1:00PM</th>
                                        <td>
                        {% for events in 3d_arr %}
                            {% if events.0.13 is not 0 %}
                                <img class="rounded-circle" src="{{ events.0.13 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.1.13 is not 0 %}
                                <img class="rounded-circle" src="{{ events.1.13 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.2.13 is not 0 %}
                                <img class="rounded-circle" src="{{ events.2.13 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.3.13 is not 0 %}
                                <img class="rounded-circle" src="{{ events.3.13 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.4.13 is not 0 %}
                                <img class="rounded-circle" src="{{ events.4.13 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.5.13 is not 0 %}
                                <img class="rounded-circle" src="{{ events.5.13 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.6.13 is not 0 %}
                                <img class="rounded-circle" src="{{ events.6.13 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">2:00PM</th>
                                        <td>
                        {% for events in 3d_arr %}
                            {% if events.0.14 is not 0 %}
                                <img class="rounded-circle" src="{{ events.0.14 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.1.14 is not 0 %}
                                <img class="rounded-circle" src="{{ events.1.14 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.2.14 is not 0 %}
                                <img class="rounded-circle" src="{{ events.2.14 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.3.14 is not 0 %}
                                <img class="rounded-circle" src="{{ events.3.14 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.4.14 is not 0 %}
                                <img class="rounded-circle" src="{{ events.4.14 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.5.14 is not 0 %}
                                <img class="rounded-circle" src="{{ events.5.14 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.6.14 is not 0 %}
                                <img class="rounded-circle" src="{{ events.6.14 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">3:00PM</th>
                                        <td>
                        {% for events in 3d_arr %}
                            {% if events.0.15 is not 0 %}
                                <img class="rounded-circle" src="{{ events.0.15 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.1.15 is not 0 %}
                                <img class="rounded-circle" src="{{ events.1.15 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.2.15 is not 0 %}
                                <img class="rounded-circle" src="{{ events.2.15 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.3.15 is not 0 %}
                                <img class="rounded-circle" src="{{ events.3.15 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.4.15 is not 0 %}
                                <img class="rounded-circle" src="{{ events.4.15 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.5.15 is not 0 %}
                                <img class="rounded-circle" src="{{ events.5.15 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.6.15 is not 0 %}
                                <img class="rounded-circle" src="{{ events.6.15 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">4:00PM</th>
                                        <td>
                        {% for events in 3d_arr %}
                            {% if events.0.16 is not 0 %}
                                <img class="rounded-circle" src="{{ events.0.16 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.1.16 is not 0 %}
                                <img class="rounded-circle" src="{{ events.1.16 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.2.16 is not 0 %}
                                <img class="rounded-circle" src="{{ events.2.16 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.3.16 is not 0 %}
                                <img class="rounded-circle" src="{{ events.3.16 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.4.16 is not 0 %}
                                <img class="rounded-circle" src="{{ events.4.16 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.5.16 is not 0 %}
                                <img class="rounded-circle" src="{{ events.5.16 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.6.16 is not 0 %}
                                <img class="rounded-circle" src="{{ events.6.16 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">5:00PM</th>
                                        <td>
                        {% for events in 3d_arr %}
                            {% if events.0.17 is not 0 %}
                                <img class="rounded-circle" src="{{ events.0.17 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.1.17 is not 0 %}
                                <img class="rounded-circle" src="{{ events.1.17 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.2.17 is not 0 %}
                                <img class="rounded-circle" src="{{ events.2.17 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.3.17 is not 0 %}
                                <img class="rounded-circle" src="{{ events.3.17 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.4.17 is not 0 %}
                                <img class="rounded-circle" src="{{ events.4.17 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.5.17 is not 0 %}
                                <img class="rounded-circle" src="{{ events.5.17 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.6.17 is not 0 %}
                                <img class="rounded-circle" src="{{ events.6.17 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">6:00PM</th>
                                        <td>
                        {% for events in 3d_arr %}
                            {% if events.0.18 is not 0 %}
                                <img class="rounded-circle" src="{{ events.0.18 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.1.18 is not 0 %}
                                <img class="rounded-circle" src="{{ events.1.18 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.2.18 is not 0 %}
                                <img class="rounded-circle" src="{{ events.2.18 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.3.18 is not 0 %}
                                <img class="rounded-circle" src="{{ events.3.18 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.4.18 is not 0 %}
                                <img class="rounded-circle" src="{{ events.4.18 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.5.18 is not 0 %}
                                <img class="rounded-circle" src="{{ events.5.18 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.6.18 is not 0 %}
                                <img class="rounded-circle" src="{{ events.6.18 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            <tr>
                    <th scope="row">7:00PM</th>
                                        <td>
                        {% for events in 3d_arr %}
                            {% if events.0.19 is not 0 %}
                                <img class="rounded-circle" src="{{ events.0.19 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.1.19 is not 0 %}
                                <img class="rounded-circle" src="{{ events.1.19 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.2.19 is not 0 %}
                                <img class="rounded-circle" src="{{ events.2.19 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.3.19 is not 0 %}
                                <img class="rounded-circle" src="{{ events.3.19 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.4.19 is not 0 %}
                                <img class="rounded-circle" src="{{ events.4.19 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.5.19 is not 0 %}
                                <img class="rounded-circle" src="{{ events.5.19 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.6.19 is not 0 %}
                                <img class="rounded-circle" src="{{ events.6.19 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">8:00PM</th>
                                        <td>
                        {% for events in 3d_arr %}
                            {% if events.0.20 is not 0 %}
                                <img class="rounded-circle" src="{{ events.0.20 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.1.20 is not 0 %}
                                <img class="rounded-circle" src="{{ events.1.20 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.2.20 is not 0 %}
                                <img class="rounded-circle" src="{{ events.2.20 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.3.20 is not 0 %}
                                <img class="rounded-circle" src="{{ events.3.20 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.4.20 is not 0 %}
                                <img class="rounded-circle" src="{{ events.4.20 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.5.20 is not 0 %}
                                <img class="rounded-circle" src="{{ events.5.20 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.6.20 is not 0 %}
                                <img class="rounded-circle" src="{{ events.6.20 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">9:00PM</th>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.0.21 is not 0 %}
                                <img class="rounded-circle" src="{{ events.0.21 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.1.21 is not 0 %}
                                <img class="rounded-circle" src="{{ events.1.21 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.2.21 is not 0 %}
                                <img class="rounded-circle" src="{{ events.2.21 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.3.21 is not 0 %}
                                <img class="rounded-circle" src="{{ events.3.21 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.4.21 is not 0 %}
                                <img class="rounded-circle" src="{{ events.4.21 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.5.21 is not 0 %}
                                <img class="rounded-circle" src="{{ events.5.21 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for events in 3d_arr %}
                            {% if events.6.21 is not 0 %}
                                <img class="rounded-circle" src="{{ events.6.21 }}" height="29px">
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
        </tbody>
        </table>
   </div>

    <hr>

    <div class="row">
    <div class="col-md-8">
        <div class="content-section">
            <h2>Chat Activity:</h2>
            {% for post in posts %}
                {% if post.group == object %}
                    <div class="card">
                    <div class="card-body">
                    <h1> <img class="rounded-circle" style="height: 50px; width: 50px; margin-right: 5px" src="{{ post.author.profile.image.url }}">
                        <a href={% url 'post-detail' post.id %}>{{ post.title }}</a>
                    </h1>
                    <h5>By {{ post.author }} on {{ post.date_posted }}</h5>
                    <p>{{ post.content }}</p>
                    </div>
                </div>
                <br>
                {% endif %}
            {% endfor %}
             <a class="btn btn-primary" href={% url 'post-create' %}>Post</a>
        </div>
    </div>


    <hr>
    <div class="col-md-4">
        <div class="content-section">
            <h5>Members:</h5>
            {% for member in object.members.all %}
                <div class="card" style="margin-bottom: 5px; display: inline-block; min-width: 400px">
                    <div class="card-body" style="display: inline-block; margin: 0; padding: 0">
                        <h6 class="card-title" style="display: inline">
                            <img class="rounded-circle" style="height: 50px; width: 50px; margin: 5px; alignment: center" src="{{ member.profile.image.url }}">
                            {{ member.username }}
                        </h6>
                        {% if member == object.group_owner %}
                            <p class="text-muted" style="margin-bottom: 5px; margin-left: 200px; display: inline;">owner</p>
                        {% endif %}
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>
    </div>
    </div>
    <hr>

    {% if user in object.members.all %}
        <div>
            <a class="btn btn-secondary" href="{% url 'group-update' object.id %}">Edit Group</a>
            <a class="btn btn-danger" href="{% url 'group-delete' object.id %}">Delete</a>
        </div>
    {% endif %}

    <br>
{% endblock content %}